<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Checkers Master</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="header block">Checkers Master</div>

      <img src="../png/main_pic.png" alt="main" class="main_pic" />

      <div class="balance_cont">
        <span>Balance:</span>
        <span class="balance"></span>
      </div>

      <a href="./game.html" class="button big block">New Game</a>
      <div class="button_cont">
        <a href="./shop.html" class="button small block">Shop</a>
        <a href="./top.html" class="button small block">Top</a>
      </div>
    </div>

    <script src="../scripts/main.js"></script>
  </body>
</html>
