html {
  font-size: 24px;
}

.header {
  height: 100px;

  color: #ff7e3e;
  font-weight: 800;

  background: linear-gradient(359.04deg, #210c01 29.84%, #4b2512 137.32%);
}

.main_pic {
  width: 270px;

  margin: 40px auto;
}

.balance_cont {
  display: flex;
  justify-content: space-between;

  width: 200px;
  margin: 20px auto;

  color: #ff7e3e;
}

.balance {
  width: 100px;

  color: #fff;
  font-weight: 800;
}

.button {
  background: #e2ba29;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  font-weight: 800;
}

.big {
  width: 276px;
  height: 63px;

  margin: 20px auto;
}

.small {
  width: 133px;
  height: 63px;
}

.button_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 276px;
  margin: 20px auto;
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .big {
    width: 330px;
    height: 75px;
  }

  .button_cont {
    width: 330px;
  }

  .small {
    width: 160px;
    height: 75px;
  }

  .main_pic {
    width: 330px;
  }
}
